* {
    margin: 0;
    padding: 0;
    font-size: inherit;
    color: inherit;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
    /*background-color: #fafafa;*/
}
header{
    max-width: 1140px;
    margin: auto;
    height: 90px;
    position: relative;

}
header a img{
    padding-top: 27px;
}
header ul{
    float: right;
    padding-top: 40px;
    position: relative;
}
li{
    font-family: 'Roboto', sans-serif;
    color: #444444;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    display: inline;
    padding-right: 23px;
    padding-left: 23px;
    position: relative;
}
.bottom_menu li:hover{
    color: #000000;
    font-weight: 900;
    font-family: 'Lato', sans-serif;
}
.left_line:hover:before{
    content: "___";
    /*padding-right: 18px;*/
    position: absolute;
    left: 0px;
    bottom: 6px;
}
.owl-carousel .owl-nav, .owl-carousel .owl-nav, .owl-carousel button.owl-dot{
    background-color: white;
    width: 14px;
    height: 14px;
    margin: 0 20px;
    border-radius: 20px;
    border: solid 4px transparent;
}
.owl-prev{
    position: absolute;
    bottom: 300px;
}
.owl-next{
    position: absolute;
    right: 40px;
    bottom: 300px;
}
.owl-dots{
    position: absolute;
    bottom: 55px;
    width: 100%;
    text-align: center;
}
.owl-carousel  button.owl-prev, .owl-carousel button.owl-next, .owl-carousel button.owl-dot.active{
    border: solid 4px black;
}
section i{
    font-size: 37px;
    text-align: center;
    border-radius: 60px;
    padding: 10px;
    border: solid 2px #fcfcfc;
    color: #fcfcfc;
    width: 38px;
    height: 35px;
}
section i:hover{
    border: solid 2px black;
    background-color: black;
}
h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: white;
    background-color: black;
    font-size: 48px;
    padding: 1px 35px;
}
h2{
    padding-top: 25px;
    font-size: 18px;
    text-align: center;
    font-weight: 300;
    color: #000000;
}
.owl-carousel a div{
    max-width: 1140px;
    margin: auto;
    position: absolute;
    top: 250px;
    left: 400px;
}
section .bottom_menu{
    max-width: 1140px;
    margin: auto;
    text-align: center;
    border-top: #e1e1e1 solid 2px;
    border-bottom: #e1e1e1 solid 2px;
    padding: 17px;
}
section .bottom_menu li:nth-child(1n+2):before{
    content: "/";
    font-size: 30px;
    padding-right: 19px;
    color: #dcdcdc;
}
.content{
    max-width: 1140px;
    margin: auto;
    text-align: center;
    /*display: inline-block;*/
}
.content span{
    vertical-align: top;
    display: inline-block;
    padding-top: 29px;
}
.butt_load{
    background-color: #959595;
    color: #ffffff;
    text-transform: uppercase;
    border-radius: 4px;
    padding: 11px 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}
.centr{
    padding-top: 35px;
    padding-bottom: 75px;
    max-width: 1140px;
    margin: auto;
    text-align: center;
    display: block;
}
footer{
    max-width: 1600px;
    height: 300px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    text-align: center;
    font-size: 14px;
}
footer a img{
    padding-top: 60px;
    padding-bottom: 45px;
}
